<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <title>@ViewBag.Title</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="Content/Try/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="Content/Try/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="Content/Try/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="Content/Try/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="Content/Try/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="Content/Try/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="Content/Try/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="Content/Try/css/style.css" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!--Header-->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="header__top__left navbar-nav navbar-left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> sale@nhathuocclongchau.com.vn</li>
                                <li><i class="fa fa-phone"></i> (028)73023456 </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="header__top__right navbar-nav navbar-right">
                            @Html.Partial("_LoginPartial")
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="header__below__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="./Home/index.html"><img src="~/Content/Try/img/Logo_.svg.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <div>
                                <ul>
                                    <li>@Html.ActionLink("HOME", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li class="dropdown">
                                        <a href="#" class="dropbtn">SẢN PHẨM</a>
                                        <ul class="header__menu__dropdown">
                                            <li>@Html.ActionLink("THUỐC", "Index", "Thuocs", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("THIẾT BỊ Y TẾ", "Index", "ThietBiYTes", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("THỰC PHẨM CHỨC NĂNG", "Index", "ThucPhamChucNangs", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("DƯỢC MỸ PHẨM", "Index", "DuocMyPhams", new { area = "" }, new { @class = "nav-link" })</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("GÓC SỨC KHỎE", "Index", "GocSucKhoe", new { area = "" }, new { @class = "nav-link" })</li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                <li><a href="./Cart/Index"><i class="fa fa-shopping-bag"></i> @*<span>3</span>*@</a></li>
                            </ul>
                            @*<div class="header__cart__price">item: <span>$150.00</span></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()



    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/Content/images/logo_1.png" alt=""></a>
                        </div>
                        <ul>
                            <li> Địa chỉ: 379-381 Hai Bà Trưng,P. Võ Thị Sáu, Q.3, TP.HCM</li>
                            <li> Số điện thoại: (028)73023459</li>
                            <li>Email: sale@nhathuocclongchau.com.vn</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Danh mục</h6>
                        <ul>
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="/Thuocs/Index">Thuốc</a></li>
                            <li><a href="/ThietBiYTes/Index">Thiết bị y tế</a></li>
                            <li><a href="/DuocMyPhams/Index">Dược mỹ phẩm </a></li>
                            <li><a href="/ThucPhamChucNangs/Index">Thực phẩm chức năng</a></li>
                            <li><a href="/Home/Contact">Góc sức khỏe</a></li>
                        </ul>
                        @*<ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>*@
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>1800 6928 - Nhánh 1</h6>
                        <p>Tư vấn mua hàng miễn phí </p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                <!--Copyright &copy;
    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                © 2007 - 2021 Công ty Cổ Phần Dược Phẩm FPT Long Châu Số ĐKKD 0315275368 cấp ngày 17/09/2018 tại Sở Kế hoạch Đầu tư TPHCM
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="Content/Try/js/jquery-3.3.1.min.js"></script>
    <script src="Content/Try/js/bootstrap.min.js"></script>
    <script src="Content/Try/js/jquery.nice-select.min.js"></script>
    <script src="Content/Try/js/jquery-ui.min.js"></script>
    <script src="Content/Try/js/jquery.slicknav.js"></script>
    <script src="Content/Try/js/mixitup.min.js"></script>
    <script src="Content/Try/js/owl.carousel.min.js"></script>
    <script src="Content/Try/js/main.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
